body {
	background-color: #f0f0f0;
}


#login-buttons {
	margin-right: 165px;
}

/*k COLOR: #425523 */

.flex-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}

.flex-wrap.main-wrap {
	padding-right: 15px;
	padding-left: 15px;
}

.pillar {
	display: inline-block;
	height: 85vh;
	vertical-align: top;
	background-color: #fefefe;
	border-radius: 2px;
}

.pillar-list {
	height: calc(85vh - 55px);
	overflow-y: scroll;
}

.pillar-friends {
	-webkit-flex: 0 1 200px;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
	margin-right: 20px;
}

.pillar-greetings {
	-webkit-flex: 0 1 300px;
	    -ms-flex: 0 1 300px;
	        flex: 0 1 300px;
	margin-right: 20px;
}

.pillar-chatroom {
	-webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.pillar-open-chats {
	-webkit-flex: 0 1 150px;
	    -ms-flex: 0 1 150px;
	        flex: 0 1 150px;
	height: 85vh;
	border-right: 1px solid #f0f0f0;
}

.pillar-messages {
	position: relative;
	-webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.pillar-header {
	padding: 17px 14px;
	border-bottom: 1px solid #f0f0f0;
}

.pillar-header .pillar-button {
	float: right;
	border: none;
	background: none;
}

.pillar-list {
	padding: 0;
	list-style: none;
}

.friend-item {
	padding: 3px 14px;
}

.friend-item .avatar {
	vertical-align: middle;
	border-radius: 2px;
}

.friend-item:hover {
	cursor: pointer;
	cursor: hand;
	background-color: #fafafa;
}

.friend-item:hover .see-greetings-button {
	opacity: 0.3;
	transition: opacity 250ms ease-in-out;
}

.see-greetings-button {
	float: right;
	background: none;
	border: none;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.see-greetings-button span {
	position: relative;
	top: -2px;
}

.friend-item .see-greetings-button:hover {
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}

.greeting-item {
	padding: 6px 14px;
	position: relative;
	border-bottom: 1px solid #f0f0f0;
}

.greeting-item:hover {
	cursor: hand;
	cursor: pointer;
	background-color: #fafafa;
}

.greeting-item .avatar {
	height: 20px;
	border-radius: 2px;
	margin-right: 6px;
}

.greeting-item .name {
}

.greeting-item .date {
	float: right;
	position: relative;
	top: 3px;
	font-size: 10px;
	color: #a0a0a0;
}

.messages-list {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}

.user-reply {
	padding: 14px;
}

.user-reply:last-child {
	margin-bottom: 42px;
}

.user-reply .avatar {
	height: 30px;
	border-radius: 3px;
	margin-right: 8px;
}

.user-reply .name {
	color: #a0a0a0;
}

.user-reply .date {
	float: right;
	position: relative;
	top: 6px;
	font-size: 12px;
	color: #a0a0a0;
}

.user-reply .content {
	margin-left: 42px;
	font-size: 14px;
}

.new-message {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

#userMessage {
	width: 100%;
	border: none;
	border-top: 1px solid #f0f0f0;
	padding: 14px;
	transition: box-shadow 250ms ease-in-out;
}

#userMessage:focus {
	outline: none;
	box-shadow: 0px 0px 2px 0px rgba(73,24,232,1);
	transition: box-shadow 250ms ease-in-out;
}

.open-chats-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.chatroom-item {
	padding: 6px;
}

.chatroom-item:hover {
	background-color: #fafafa;
	cursor: pointer;
	cursor: hand;
}

.chatroom-item .avatar {
	height: 15px;
	border-radius: 2px;
	vertical-align: middle;
}

.request-item .avatar {
	height: 20px;
	border-radius: 2px;
}
